<div class="flex-box">
<div class="intro-slider">
	<div class="item" style="background-image: url('app/assets/img/slider-1.jpg');"></div>
</div>
<!-- Track form -->
<div class="container mail-container">
	<div class="row">
		<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
			<div class="well">
				<form class="tracking-form">
					<h4>Search Police Database For MISSING CHILDREN</h4>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Type Child Name">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-block">Search</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2" ng-if="!vm.isauthenticated">
			<a ui-sref="login" class="tile text-uppercase">
				<span>
					<img src="app/assets/img/login.svg" alt="">
				</span>
				<h4>log in</h4>
			</a>
		</div>
		<div class="col-sm-4" ng-if="!vm.isauthenticated">
			<a ui-sref="signup" class="tile text-uppercase">
				<span>
					<img src="app/assets/img/register.svg" alt="">
				</span>
				<h4>Register</h4>
			</a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a ui-sref="reports" class="tile text-uppercase">
				<span>
					<img src="app/assets/img/dashboard.svg" alt="">
				</span>
				<h4>Reports</h4>
			</a>
		</div>
		<div class="col-sm-4">
			<a ui-sref="fir" class="tile text-uppercase">
				<span>
					<img src="app/assets/img/missing.svg" alt="">
				</span>
				<h4>Missing Someone</h4>
			</a>
		</div>
	</div>
</div>
<!--/ Track form -->
</div>