<!-- Track form -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-md-offset-2 col-sm-offset-0">
			<form class="form-inline tracking-form">
				<div class="form-group">
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" placeholder="Enter Consignment Number">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary btn-block">Track Order</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/ Track form -->
<div class="intro-slider">
	<div class="item" style="background-image: url('app/assets/img/slider-1.jpg');"></div>
</div>
