<section class="container">
	<div class="row" style="margin-top:80px;">
		<div class="col-sm-4 form-group">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary">Go!</button>
				</span>
			</div>
		</div>
		<div class="col-sm-2 col-sm-offset-6">
			<a ui-sref="fir" class="btn btn-info btn-block btn-lg">Lodge a Report</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="thumbnail">
				<img src="app/assets/img/default.svg" style="width:100%" alt="...">
				<div class="caption">
					<h4>Kamal</h4>
					<div class="row" style="margin-bottom:10px;">
						<div class="col-sm-6">
							<div class="small text-muted">Gender</div>
							<p>Male</p>
						</div>
						<div class="col-sm-6">
							<div class="small text-muted">Age</div>
							<p>14y 7m</p>
						</div>
						<div class="col-sm-6">
							<div class="small text-muted">Height</div>
							<p>3 ' 2 "</p>
						</div>
						<div class="col-sm-6">
							<div class="small text-muted">Missing/Sighted</div>
							<p>Sighting</p>
						</div>
					</div>
					<p>
						<a href="#" class="btn btn-primary" role="button">View</a>
						<a href="#" class="btn btn-default" role="button">Request Contact</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
